/INSTALL
/install-sh
/ltmain.sh
/missing
/mkinstalldirs
/libtool
/stamp-*
/ylwrap
/autom4te.cache
/config.*
/configure
/aclocal.m4
/cim.spec
/depcomp

TAGS
*.o
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
