*.atr
hello
right-text
gcd
for-loop
test-geom
test-stacks-char
test-stacks-var
sim-nested
sim-office
sim-man-machine
sim-interview
demo-simset
sim-active-customer
sim-active-server
chess-two-masters
chess-master-two-slaves
chess-with-classes
noughts-and-crosses
